<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insights</title>
    <link rel="stylesheet" href="styles/new_insight.css">
</head>
<body>
<div class="main_insights_container">
    <div class="insights_title">
        <h2 class="insights">insights</h2>
    </div>
    <div class="container">
        <div class="insights_container">
            <div class="event">
                <p>Write your insight for event on</p>
                <p>{{ event_subject }}</p>
            </div>
            <form id="insightForm">
                <div class="submit_container">
                    <textarea type="text" id="insight" class="input" placeholder="insight" name="insight" required></textarea>
                </div>
                <button type="button" class="form_button" onclick="submitForm()">Send</button>
            </form>
        </div>
    </div>
    <div id="successMessage" style="display: none; color: green;">
        Submission successful!
    </div>
    <div id="error" style="display: none; color: red;">
        Something went wrong
    </div>
</div>
<script>
    async function submitForm() {
        const data = {
            event_id: "{{ event_id }}",
            insight: document.getElementById("insight").value
        };

        try {
            const response = await fetch("{{ host }}/api/v1/insight", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {
                document.getElementById("successMessage").style.display = "block";
                document.getElementById("insightForm").style.display = "none";
            } else {
                console.error(`HTTP error! Status: ${response.status}`);
            }
        } catch (error) {
            document.getElementById("error").style.display = "block";
            document.getElementById("insightForm").style.display = "none";
            console.error("Network error occurred", error);
        }
    }
</script>

</body>
</html>
