<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insights</title>
</head>
<body>

<h2><i>insights</i></h2>

<form id="insightForm" style="display: block">
    <label for="insight">Insight:</label>
    <input type="text" id="insight" name="insight" required>

    <button type="button" onclick="submitForm()">Submit</button>
</form>

<!-- Display success message -->
<div id="successMessage" style="display: none; color: green;">
    Submission successful!
</div>

<script>
    async function submitForm() {
        const data = {
            event_id: "{{ event_id }}",
            insight: document.getElementById("insight").value
        };

        try {
            const response = await fetch("http://localhost:8080/api/v1/insight", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {
                document.getElementById("successMessage").style.display = "block";
                document.getElementById("insightForm").style.display = "none";
            } else {
                console.error(`HTTP error! Status: ${response.status}`);
            }
        } catch (error) {
            console.error("Network error occurred", error);
        }
    }
</script>

</body>
</html>
