body {
    background: whitesmoke;
    width: 100%;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('/static/fonts/SFProDisplay-Bold.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Caveat';
    src: url('/static/fonts/Caveat-Bold.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Niconne';
    src: url('/static/fonts/Niconne-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('/static/fonts/SFProDisplay-Semibold.ttf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('/static/fonts/SFProDisplay-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

.insights_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.insights {
    font-family: Caveat, serif;
    font-size: 52px;
    color: #ff7e05;
}

.main_insights_container {
    padding-top: 100px;
    width: 100%;
    height: 1000px;
    font-family: SF-Pro-Display, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit_container {

}

.form_group {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.input {
    border-radius: 10px;
    border: 0px solid #ff7e05;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.2);
    background: whitesmoke;
    width: 100%;
    font-size: 18px;
    min-height: 300px;
}

.btn_clss{
    padding-right: 2.5vw;
}

.text_clss {
    padding-right: 3vw;
}

.event {
    color: #4d4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    flex-wrap: wrap;
    gap: 4px;
}

.insightForm {
    width: 100%;
}


.form_button {
    font-family: SF-Pro-Display, serif;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: #ff7e05;
    font-weight: normal;
    font-size: 18px;
    background: whitesmoke;
    height: 40px;
}

@media (max-width: 500px) {

    .input {
        width: 100%;
        max-width: 395px;
        min-width: 90vw;
    }

    .main_insights_container {

    }

    .btn_clss{
        padding-right: 4.5vw;
    }

    .text_clss {
        padding-right: 6vw;
    }

    .main_insights_container {
        padding-top: 50px;
        width: 100%;
        height: 1000px;
        font-family: SF-Pro-Display, serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
